autostart
caja
chromium
configstore
dconf
direnv
google-chrome*
Google Play Music Desktop Player
gtk-2.0
gtk-3.0
i3/.gtkrc-2.0
inkscape
Insync
libreoffice
menus
mimeapps.list
mintmenu
monitors.xml
monitors.xml.backup
nemo
nvim/.netrwhist
nvim/plugged
nvim/undo-dir
pavucontrol.ini
pgadmin4
polybar
pulse
skypeforlinux
Thunar
Trolltech.conf
unity3d
user-dirs.locale
VirtualBox
xfce4
xviewer
yelp
yarn
bin/intero
bin/pip
bin/pip3
bin/pip3.5
bin/easy_install
bin/easy_install-3.5
bin/hlint
bin/hoogle
bin/cabal
bin/ppsh
bin/stack
bin/ghc-mod
bin/ghc-modi
zsh_history
pix
Gitter
QtProject.conf
0ad
Slack
bin/hakyll-init
rtv
vlc
mimeapps.list
systemd
gigolo
wireshark
.mono
brittany
i3blocks-contrib
GIMP
Kvantum
autorandr
coq
manjaro
manjaro-hello.json
qt5ct
cef_user_data
viewnior
discord
orage
pamac
Code - OSS
ardour5
catfish
drumstick.sourceforge.net
globaltime
nvim-qt
vmpk.sourceforge.net
tako/tako_history
coc
falkon
zoomus.conf
qterminal.org
bin/ccat
greasy
fzf-tab-completion
htop
wslu
volumeicon
Electron
solaar
gnome-control-center
.gsd-keyboard.settings-ported
monitors.xml
dleyna-renderer-service.conf
evolution
monitors.xml~
gedit
GNOME-xdg-terminals.list
onlyoffice
hexchat
xdg-terminals.list
shuttle
nautilus
cinnamon-monitors.xml
cinnamon
Code
enchant
warpinator
cinnamon-monitors.xml~
spotify
opera
ibus
gnome-initial-setup-done
cni
goa-1.0
toolbox
neofetch
gnome-boxes
libvirt
simple-scan
gh
balena-etcher
cura
Raspberry Pi
BambuStudio/log
BambuStudio/log
BambuStudio/user/*/process
BambuStudio/hms
BambuStudio/track
BambuStudio/system
BambuStudio/BambuStudio.conf
connections.db
microsoft*
BraveSoftware
lutris
OpenSCAD
gsconnect
turbo.zsh
turborepo
vscode-sqltools
BambuStudio/ota
simple-update-notifier
ghc/ghci_history
nvim/plugin
nvim/lazy-lock.json
nvim
llvmenv
hyfetch.json
tiling-assistant
cosmic
gtk-4.0
rncbc.org
obsidian
Arduino IDE
github-copilot
kde*
arduino-ide
eog
gdm
goose
kwalletrc
rygel.conf
toad
Antigravity IDE
